venv/
.idea/
__pycache__/
.DS_Store

# Binary data files and storage directories.
*.pickle
**/data/
nations/flag_image_storage/

# Secrets.
finance/secrets.json

# Others.
**/**test*.*

# Temporary.
nations/data.py
